
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;

}

:root {
    --primary-color: #e0f7fa;


    --text-color: #333333;
}

.navbar img {
    width: 60px;
    height: auto;
    border-radius: 52%;

}



.navbar {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #67aab7;

}



.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;


}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s zoom-in;
    font-weight: 500;
    padding-bottom: 5px;

}

.nav-links li a:hover {
    border-bottom: 2px solid #00a6c8;
    color: #007f99;
}

.username {
    color: rgb(57, 138, 214);
    background-color: rgb(212, 229, 245);
    margin-right: 10px;
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.username:hover {
    background-color: #3c4e76;
    cursor: pointer;
    padding: 15px 25px;
}


.hero-content {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    margin: 50px auto;
    text-align: center;




}

.hero-section {
    width: 100%;
    text-align: center;

    display: flex;

    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px 0 20px 0px;
    display: flex;
}

.hero-section h1 {
    font-size: 55px;
    color: var(--text-color);
    margin-bottom: 20px;
    margin: 20px;
}

.hero-section h1 span {
    color: #00a6c8;

}

.hero-section p {
    font-size: 30px;
    color: #9c9c9c;
    margin: 20px 30px;
    margin-bottom: 30px;

}

.hero-section .button {
    width: 100%;




    margin-left: -12px;

}

.hero-section a {
    text-decoration: none;

}

.hero-section .btn {


    background-color: #00a6c8;
    color: #ffffff;

    padding: 15px 10px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;

    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.hero-section .btn:hover {
    background-color: #007f99;
}

.small-icon {
    font-size: 20px;
    font-weight: 300;
    color: #fff;

    text-align: center;
    position: absolute;


}

.hero-image {
    margin: 10vh;

}



.hero-image img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.achieve-container {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(64, 170, 189, 0.5);
}

.achieve-box {
    text-align: center;
    flex: 1;

}

.container-booking {
    padding: 0px;

    width: 100%;
    height: auto;
    padding: 20px 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(250, 253, 253, 0.5);
}

.booking-services {
    margin: 40px;

    border-radius: 15px;

    float: left;
}

.booking-services h3 {
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.booking-services p {
    font-size: 14px;
    color: #444444;
    margin: 0px;
    display: block;
    margin-bottom: 20px;


}

.services-heading:after {
    margin: 10px 20px 20px 0;
    height: 1px;
    width: 95%;
    content: '';
    display: inline-block;
    text-align: center;
    background-color: #007f99;

}






.services {
    flex: 1;
    background: #fff;
    border-radius: 12px;

    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.service-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.service-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-info span {
    font-size: 14px;
    font-weight: 200;
}

.service-price {
    color: #007aff;
    font-weight: 400;
}

.btn {
    border: none;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

.add-btn {
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
    border: 2px solid #ccc;
    margin: 1px;
    padding: 10px;
}

.add-btn .icon {
    margin-right: 5px;

}


.add-btn:hover {
    background-color: #e8e8e8;
}

.note {
    display: inline-flex;
    align-items: center;
    color: #007aff;
    margin-top: 20px;


}

.note .icon {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #007aff;

}




.right-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;

    height: max-content;

    margin-top: 70px;
    border-radius: 15px;

}

.right-container .cart {
    flex: 1;

    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.cart h3 {
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);

    margin: 10px;
}

.cart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: var(--primary-color);
}

.table-head th {
    border-color: var(--primary-color);

    text-align: left;
    padding: 10px;
    font-size: 0.9rem;
    color: var(--text-color);
}

#cart-items td {
    text-align: left;
    padding: 10px;

    background-color: #fff;
    padding-bottom: 20px;

    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;
}



.emptyCart {
    text-align: center;
    background-color: #fff;
    padding-bottom: 20px;

    border-bottom: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;

}

.first h4 {
    font-size: 1.1rem;
    color: var(--text-color);
    margin: 10px;


}


.bookNow {
    flex: 1;
    margin: 5px;
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}


.bookNow h3 {
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);

    margin: 10px;
    margin-bottom: 20px;

}


.form-group label {
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    color: var(--text-color);
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.book-btn {
    width: 100%;


    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #00a6c8;
    color: #ffffff;
    border: none;
    padding: 15px 20px;
    font-size: 14px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #007f99;
}


.bookNow .successful {
    visibility: collapse;
    align-items: center;
    font-size: 15px;
    color: green;
    display: inline-flex;

}

.bookNow .successful .icon {
    display: inline-flex;
    align-items: center;
    font-size: 20px;

}

.bookNow .unsuccessful {
    display: inline-flex;
    visibility: hidden;

    font-size: 15px;
    color: red;
    display: none;
}

.bookNow .unsuccessful .icon {
    display: inline-flex;
    align-items: center;
    font-size: 20px;

}


.container {

    width: 100%;


    padding: 20px 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;

    box-shadow: 0 4px 12px rgba(116, 181, 181, 0.5);
}

.service-features {
    width: 100%;
    display: flex;
    flex-wrap: column;
    gap: 20px;


    padding: 20px 20px;
}

.premium-services,
.quick-support,
.delivery,
.affordable-price {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    text-align: center;
}

.premium-services h3,
.quick-support h3,
.delivery h3,
.affordable-price h3 {
    font-size: 18px;
    color: var(--text-color);
    margin: 10px;
    padding: 10px;
}


.premium-services p,
.quick-support p,
.delivery p,
.affordable-price p {
    font-size: 14px;
    color: #666666;
    margin: 10px;
    padding: 10px;
}



.subscribe {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;




    background-color: #007f99;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 20px;
}

.subscribe h3 {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 40px;
}

.subscribe input {

    padding: 16px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;

}

.subscribe button {
    padding: 15px 20px;
    margin: 40px;
    background-color: #02bfe5;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe button:hover {
    background-color: #007f99;
}


.footer {
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    margin-bottom: 20px;
    padding-bottom: 20px;

    margin-top: 20px;
    padding-top: 40px;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

footer .logo img {
    width: 60px;
    height: auto;
    border-radius: 52%;

}

.footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.footer p,
.footer ul,
.footer .social-icons {
    font-size: 14px;
    line-height: 1.6;
}

.AboutUs,
.important-links,
.Contact,
.follow {
    flex: 1;
    margin: 0 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
    color: #00a6c8;
}

.footer .social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.footer .social-icons a:hover {
    color: #00a6c8;
}

.footer .copyright {
    margin-top: 40px;
    ;
    font-size: 12px;
    color: #bbbbbb;
    float: right;
}


@media(max-width: 1200px) {


    .hero-section {
        display: flex;

        justify-content: center;
        align-items: center;
        text-align: center;
    }





    .hero-section .button {
        width: 100%;
        margin-left: -22px;

    }



    .hero-section h1 {
        font-size: 50px;
    }

    .hero-section p {
        font-size: 28px;
    }

    .achieve-container {

        font-size: 14px;
    }

    .booking-services h3 {
        font-size: 26px;
    }
}

@media(max-width: 1024px) {
    .hero-image img {
        width: 200px;
    }

    .hero-section h1 {


        font-size: 40px;

    }

    .hero-section p {
        font-size: 20px;
    }

    .hero-section .button {


        width: 100%;




        margin-left: -12px;

    }

    .achieve-container {
        font-size: 12px;
    }

    .booking-services h3 {
        font-size: 22px;
    }

    .booking-services p {
        font-size: 12px;
    }

    .service-features {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .subscribe h3 {
        font-size: 26px;
    }

    .footer h3 {
        font-size: 20px;

    }

    .footer p {
        font-size: 12px;
    }

    .footer ul li {
        font-size: 12px;
    }

    .footer .copyright {
        font-size: 10px;
    }

}







@media (max-width: 780px) {
    .navbar .nav-links {
        display: none;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero-section h1 {
        font-size: 45px;
    }

    .hero-section p {
        font-size: 20px;
    }

    .hero-section .button {


        width: 100%;

        margin-left: 3px;

    }

    .achieve-container {
        font-size: 12px;
    }

    .booking-services h3 {
        font-size: 20px;
    }

    .booking-services p {
        font-size: 12px;
    }

    .right-container {
        margin-left: 40px;
        margin-right: 20px;
        width: 100%;
        flex-direction: column;

    }



    .service-features {
        display: flex;
        flex-direction: column;
        gap: 5px;


    }

    .subscribe {
        flex-direction: column;
        gap: 5px;

    }

    .subscribe h3 {
        font-size: 40px;
    }



    .footer h3 {
        font-size: 20px;

    }

    .footer p {
        font-size: 12px;
    }

    .footer ul li {
        font-size: 12px;
    }

    .footer .copyright {
        font-size: 10px;
    }


}



@media (max-width: 480px) {
    .navbar .nav-links {
        display: none;
    }

    .navbar {
        padding: 20px 10px;
        border-radius: 0;
    }

    .hero-section img {
        width: 200px;
    }

    .hero-section h1 {
        font-size: 40px;
    }

    .hero-section p {
        font-size: 15px;
    }

    .hero-section .button {


        width: 100%;




        margin-left: -7px;

    }


    .achieve-container {
        font-size: 8px;
    }
    .booking-services h3 {
        font-size: 15px;
    }

    .booking-services p {
        font-size: 8px;
    }

    .service-item {

        margin: 5px 0;

        padding-bottom: 5px;
    }

    .service-info {

        gap: 5px;
    }

    .service-info span {
        font-size: 10px;
        font-weight: 200;
    }

    .note .icon {
        font-size: 15px;
    }

    .note {
        font-size: 8px;
    }

    .right-container {
        flex-direction: column;
        margin: 5px;



    }

    .right-container .cart {
        font-size: 15px;
    }

    .add-btn {
        font-size: 10px;
        padding: 5px;
        margin: 5px;
    }

    .first #totalamount {
        margin-left: 5px;
    }

    .service-features {
        display: flex;
        flex-direction: column;
        gap: 3px;


    }

    .subscribe {
        flex-direction: column;
        gap: 5px;


    }

    .subscribe h3 {

        font-size: 30px;



    }

    .subscribe input {

        padding: 10px;
        margin: 15px;
        width: 90%;
        border-radius: 8px;
        font-size: 15px;

    }


    .subscribe button {
        padding: 8px 5px;
        margin: 5px;
        font-size: 15px;

    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer .copyright {
        margin-top: 20px;
        float: none;
    }

    .footer .AboutUs,
    .footer .important-links,
    .footer .Contact,
    .footer .follow {
        margin: 10px 0;
    }

    .footer .social-icons {
        justify-content: center;
    }

    .footer h3 {
        font-size: 12px;

    }

    .footer p {
        font-size: 10px;
    }

    .footer ul li {
        font-size: 10px;
    }

    .footer .social-icons a {
        font-size: 15px;
    }

    .footer .copyright {
        font-size: 2px;


    }
}

.error{
    text-align: center;
    color: #d82020;
    transform: translateX(-50%);
      transform: translateY(50%);
      top: 50%;
      left: 50%;
}
.contact h1{
    text-decoration: underline;

margin: 20px;
}
.contact p{


margin: 20px;
}
.contact{
    text-align: center;
    font-size: large;
   
}
.about h1{
   
  text-decoration: underline;
    margin: 10px;
    padding: 10px;
}

.about{
    text-align: center;
    margin: 20px;
    padding: 20px;
}